{% extends "layout.html" %}

{% block content %}

    <div class="content-section">

    <h5>Today, learning through internet has been a routine to almost all of the age group people. However, sometimes not all the information that is readily available over the internet may be true and the fact of learning irrelevant or incorrect information can’t be ruled out. We keep noticing often that some of the information which we come across some sites over the internet is incorrect. When we notice such things, rather than just keeping it to ourselves, if we share the same with other people, they will be benefited out of the information we share. Though we need not pinpoint at any site, we can still convey the right information to the public, so that they can learn about the concerned topic of interest accurately without any deviations. </h5>
    <h5>This is the intention behind this project. Through this project, we aim to create a site where people can register when they are visiting for the first time and create their profiles. Once, they register successfully, they will be able to post any content they wish to, on the site. After the post is made public, other users can view the post and learn something out of it. </h5>
</div>

{% endblock content %} 

<!DOCTYPE html>
<html>
<head>

    {% if title %}

    <title> Bona Fide -- {{ title }} </title>
  
    {% else %}
  
    <title> Bona Fide </title>
  
    {% endif %}
</head>

<body>

   <h1>About Page</h1>

</body>
</html>